@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cuprum&display=swap');

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bangers', sans-serif;
    color: black;

}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

span {
    font-style: italic;
    font-weight: bold;
}

header {
    width: 100%;
}

#header {
    text-align: center;
    height: 900px;
    background: url("/assets/images/hero-image.jpg") no-repeat, center center;
}

#logo {
    padding: 15px;
    text-transform: uppercase;
    font-size: 80px;
}

header a {
    text-decoration: none;
    color: black;
}

#menu li {
    display: inline;
    margin: 5px;
    padding-top: 10%;
}

#menu {
    margin-bottom: 15%;
}

#menu a {
    text-decoration: none;
    color: black;
    font-size: 120%;
    font-weight: 100;
    margin: 5px;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.hero-text {
    font-size: 200%;
    font-family: Cuprum;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 400px;
    height: 300px;

    color: white;
    background-color: rgba(5, 5, 5, 0.5);

    margin: 0 auto;

    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}

.hero-text hr {
    margin-right: 10px;
}

.hero-text p {
    margin-top: 5px;
}

#about {
    height: 100%;
    overflow: hidden;
    margin-bottom: 2%;
}

#about hr {
    margin: 0 8% 0 8%;
    border: 2px solid gray;
}

#about h2 {
    margin-top: 1%;
    text-align: center;
    font-size: 400%;
    text-decoration: underline;
}

#about h3 {
    text-decoration: underline;

}

#about-1 {
    float: left;
    font-size: 140%;
    letter-spacing: 3px;
    width: 70%;
    margin-left: 15%;
    margin-top: 15%;
    bottom: 5%;
}

.img1 {
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#about-2 {
    float: left;
    font-size: 140%;
    letter-spacing: 3px;
    width: 70%;
    margin-left: 15%;
    margin-top: 15%;
}

.img2 {
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
}

#about p,
#about2 p {
    font-family: 'Cuprum', sans-serif;
}

#lessons {
    height: fit-content;
    overflow: hidden;
}

#lessons h2 {
    margin-top: 1%;
    text-align: center;
    font-size: 400%;
    text-decoration: underline;
}

#street-box {

    font-size: 150%;
    font-family: Cuprum;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 20%;
    height: 450px;
    color: whitesmoke;
    background-color: rgba(5, 5, 5, 0.5);
}

#street-box h3 {
    font-size: 200%;
    text-align: center;
    font-family: 'Bangers', sans-serif;
    text-decoration: underline;
    margin-bottom: 15px;
    margin-top: 15px;
}

#street-box p {
    font-size: 125%;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;

}

#street-box ul {
    text-align: center;
    line-height: 150%;
    list-style-position: inside;
    margin-bottom: 50px;
}


#vert-box {

    font-size: 150%;
    font-family: Cuprum;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 20%;
    height: 450px;
    color: whitesmoke;
    background-color: rgba(5, 5, 5, 0.5);
}

#vert-box h3 {
    font-size: 200%;
    text-align: center;
    font-family: 'Bangers', sans-serif;
    text-decoration: underline;
    margin-bottom: 15px;
    margin-top: 15px;
}

#vert-box p {
    font-size: 125%;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;

}

#vert-box ul {
    text-align: center;
    line-height: 150%;
    list-style-position: inside;
    margin-bottom: 50px;
}

.button {
    border-radius: 5px;
    text-align: center;
    display: block;
    font-size: 150%;
    font-family: 'Bangers', sans-serif;
    background-color: black;
    color: #fafafa;
    margin: 0 auto;
    padding-right: 5px;
    line-height: 150%;
}

#vert-box a {
    text-decoration: none;
}

#street-box a {
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    background-color: #fafafa;
    color: black;
}

#sign-up {
    height: 900px;
    background-image: url('/assets/images/sign-up.jpg');
    background-color: white;
}

#sign-up h2 {
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 400%;
    text-decoration: underline;
}

.form-header {
    text-align: center;
    font-size: 200%;
    margin: 20px 0 30px 20px;
    font-family: 'Bangers', sans-serif;
}

.signup-form {
    text-align: center;
    font-size: 100%;
    font-family: Cuprum;
    text-transform: uppercase;
    letter-spacing: 3px;
    max-width: 400px;
    height: 500px;
    color: whitesmoke;
    background-color: rgba(5, 5, 5, 0.5);
    margin: 0 auto;
    overflow: hidden;
}

.input-text {
    background: transparent;
    width: 100%;
    height: 25px;
    color: #fafafa;
    border: 2px solid black;
    border-radius: 2px;
    margin: 5px 0 20px 0;
    font-family: 'Cuprum', sans-serif;
}

label {
    padding-left: 2px;
}

.signup-button {
    border-radius: 5px;
    text-align: center;
    display: block;
    font-size: 200%;
    font-family: 'Bangers', sans-serif;
    background-color: black;
    color: #fafafa;
    margin: 0 auto;
    margin-top: 20px;
    padding-right: 5px;
    line-height: 150%;
}

.signup-button:hover {
    background-color: #fafafa;
    color: black;
    cursor: pointer;
}

form p {
    font-family: 'Bangers', sans-serif;
    padding-left: 2px;
}

footer {
    height: 50px;
    text-align: center;
    font-size: 150%;
    padding-bottom: -5%;
}

footer li {
    display: inline;
    margin: 5%;
}

footer a {
    color: black;
}

footer ul {
    margin-top: 1%;
}

/* media querys */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .col-6 {
        width: 100%;
    }

    #about-1,
    #about-2 {
        font-size: 100%;
        text-align: center;

    }

    #about h2,
    #lessons h2,
    #sign-up h2 {
        font-size: 45px;
    }

    .hero-text {
        font-size: 100%;
        width: 80%;
        margin-top: 30%;
        padding-top: 25%;
    }

    #street-box,
    #vert-box {
        width: 70%;
        font-size: 115%;
        margin-left: 15%;

    }

    #logo {
        font-size: 50px;
    }

    .signup-form {
        width: 100%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .col-6 {
        width: 100%;
    }



    #about h2,
    #lessons h2,
    #sign-up h2 {
        font-size: 45px;
    }


    #street-box,
    #vert-box {
        width: 70%;
        font-size: 115%;
        margin-left: 15%;

    }

    .signup-form {
        width: 100%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .col-6 {
        width: 100%;
    }



    #about h2,
    #lessons h2,
    #sign-up h2 {
        font-size: 45px;
    }



    #street-box,
    #vert-box {
        width: 70%;
        font-size: 115%;
        margin-left: 15%;

    }

    .signup-form {
        width: 100%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    #about-1,
    #about-2 {
        font-size: 100%;
        text-align: center;

    }


    #about h2,
    #lessons h2,
    #sign-up h2 {
        font-size: 45px;
    }



    #street-box,
    #vert-box {
        width: 70%;
        font-size: 115%;
        margin-left: 15%;

    }

    .signup-form {
        width: 100%;
    }

    
}