/*These are the importation of the two Google Fonts I am using throughout.*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cuprum&display=swap');


/* I learned about animations in the Code Institutes Love Running project. and decided to use it for my hero-text.*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bangers', sans-serif;
    color: black;

}

span {
    font-style: italic;
    font-weight: bold;
}

/*I learned about and used grid layout to structure the site and make it responsive with media queries. Down below is the code for that. Taken from (https://www.w3schools.com/css/css_rwd_grid.asp)*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*Here starts the css for the Header section*/

#header {
    height: 900px;
    /*Image taken from (https://unsplash.com/photos/1aN4D5Glza8)*/
    background: url("../images/hero-image.jpg") no-repeat, center center;
}

#logo {
    text-transform: uppercase;
    font-size: 80px;
}

header a {
    text-decoration: none;
    color: black;
}

#menu {
    text-align: right;
    margin: 20px;
    padding: 5px;
    margin-bottom: 15%;
}

#menu li {
    display: inline;
    margin: 5px;
}

#menu a {
    font-family: 'Cuprum', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 130%;
    font-weight: 100;
    margin: 5px;
}

#menu a:hover {
    border-bottom: 1px solid black;
}


/* The idea for this hero text was taken from the Code institute Love Running Project. I used it as a template and made it my own */
.hero-text {
    font-size: 200%;
    font-family: Cuprum;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 400px;
    height: fit-content;

    color: white;
    background-color: rgba(5, 5, 5, 0.5);

    margin: 0 auto;

    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}

.hero-text hr {
    margin: 0 5px 0 2px;
}

.hero-text p {
    margin-top: 5px;
}

/*Below starts the css for the About section*/

#about {
    height: fit-content;
    overflow: hidden;
    margin-bottom: 2%;
}


.section-header {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 5px;
}

#about h3 {
    text-decoration: underline;
}


#about hr {
    margin: 0 8% 0 8%;
    border: 2px solid gray;
    visibility: hidden;
}

#about p {
    font-family: 'Cuprum', sans-serif;
    margin-top: 7px;
}

.about-text {
    font-size: 120%;
    letter-spacing: 3px;
    width: 70%;
    margin: 15% 0 0 15%;
}

.img {
    width: 70%;
    margin: 5% 15% 5% 15%;
    height: 400px;
}

/*Below starts the css for the Lessons section*/

#lessons {
    height: fit-content;
    margin-bottom: 5%;
}

.lessons-box {
    margin: 5%;
    font-size: 150%;
    font-family: Cuprum;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 20%;
    height: 300px;
    color: whitesmoke;
    background-color: rgba(5, 5, 5, 1);
}

.lessons-box h3 {
    font-size: 200%;
    text-align: center;
    font-family: 'Bangers', sans-serif;
    text-decoration: underline;

}

.lessons-box p {
    font-size: 125%;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
    margin-bottom: 15px;
    margin-top: 15px;
}

.lessons-box ul {
    text-align: center;
    line-height: 150%;
    list-style-position: inside;
    margin-bottom: 50px;
    padding: 0 10px 0 10px;
}

/*Below starts the css for the Signup section*/

#sign-up {
    height: 900px;
    /*This photo was taken from (https://unsplash.com/photos/ISkeH2SLqNU)*/
    background-image: url('../images/sign-up.jpg');
    background-color: white;
}

.form-header {
    text-align: center;
    font-size: 200%;
    margin: 20px 0 30px 20px;
    padding-right: 15px;
    font-family: 'Bangers', sans-serif;
}

/*The design for this signup form was inspired by code institutes Love Running project. (https://github.com/Code-Institute-Org/love-running-2.0)*/
.signup-form {
    text-align: center;
    font-size: 100%;
    font-family: Cuprum;
    text-transform: uppercase;
    letter-spacing: 3px;
    max-width: 400px;
    height: 500px;
    color: whitesmoke;
    background-color: rgba(5, 5, 5, 0.5);
    margin: 0 auto;
    overflow: hidden;
}

.input-text {
    background: transparent;
    width: 100%;
    height: 25px;
    color: #fafafa;
    border: 2px solid black;
    border-radius: 2px;
    margin: 5px 0 20px 0;
    font-family: 'Cuprum', sans-serif;
}

label {
    padding-left: 2px;
}

.signup-button {
    border-radius: 5px;
    text-align: center;
    display: block;
    font-size: 200%;
    font-family: 'Bangers', sans-serif;
    background-color: black;
    color: #fafafa;
    margin: 0 auto;
    margin-top: 20px;
    padding-right: 5px;
    line-height: 150%;
}

.signup-button:hover {
    background-color: #fafafa;
    color: black;
    cursor: pointer;
}

form p {
    font-family: 'Bangers', sans-serif;
    padding-left: 2px;
}

/*Below starts the css for the footer*/

footer {
    width: 70%;
    margin-left: 15%;
    text-align: center;
    font-size: 150%;
}

footer li {
    display: inline;
    margin: 5%;
}

footer a {
    color: black;
}

footer ul {
    margin-top: 1%;
}

/* media querys */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .col-6 {
        width: 100%;
    }


    #header {
        background: url("../images/hero-image2.jpg") no-repeat, center center;
        overflow: hidden;
    }

    #about {
        font-size: 60%;
    }

    .lessons-box {
        font-size: 25px;
    }

    .img {
        height: 200px;
    }

    .hero-text {
        font-size: 15px;
        height: fit-content;
        width: 70%;
        margin: 0 auto;
        margin-top: 60%;
        overflow: hidden;
        padding-left: 5px;
    }

    .lessons-box {
        width: 70%;
        font-size: 15px;
        margin-left: 15%;

    }

    .lessons-box h3 {
        font-size: 20px;
    }

    .lessons-box p {
        font-size: 15px;
    }

    #logo {
        width: 100%;
        font-size: 35px;
        text-align: center;
    }

    #menu {
        text-align: center;
        font-size: 12px;
        margin: 1px;
    }

    .signup-form {
        width: 70%;
        margin-right: 15%;
        margin-top: 10%;
    }

    .form-header {
        font-size: 20px;
        padding-right: 15px;
    }

    footer {
        font-size: 20px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .col-6 {
        width: 100%;
    }

    #header {
        background: url("../images/hero-image2.jpg") no-repeat, center center;
    }

    .section-header {
        font-size: 45px;
    }

    .img {
        height: 300px;
    }

    .lessons-box {
        width: 70%;
        font-size: 15px;
        margin-left: 15%;
    }



    .lessons-box h3 {
        font-size: 25px;
    }

    #logo {
        width: 100%;
        font-size: 55px;
        text-align: center;
    }

    #menu {
        text-align: center;
        font-size: 15px;
        margin: 1px;
    }

    .hero-text {
        font-size: 25px;
        height: fit-content;
        width: 70%;
        margin-top: 30%;
        padding-left: 5px;
        overflow: hidden;
    }

    .signup-form {
        width: 100%;
        margin-top: 25%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .col-6 {
        width: 100%;
    }

    .img {

        height: 400px;
    }

    #header {
        background: url("../images/hero-image3.jpg") no-repeat, center center;
        overflow: hidden;
    }

    #logo {
        text-align: center;
    }

    #menu {
        text-align: center;
        padding-bottom: 10%;
    }

    .section-header {
        font-size: 45px;
    }


    .hero-text {
        margin: 0 auto;
        bottom: 50px;
        padding-left: 5px;
    }



    .lessons-box {
        width: 70%;
        font-size: 15px;
        margin-left: 15%;

    }

    .signup-form {
        width: 100%;
        margin-top: 10%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {

    #header {
        background: url("../images/hero-image3.jpg") no-repeat, center center;
    }

    #logo {
        font-size: 60px;
        margin: 5px;
    }

    .hero-text {
        margin-top: 20%;
        padding-left: 5px;
        overflow: hidden;
    }

    #about {
        font-size: 100%;
    }

    #about hr {
        visibility: hidden;
    }

    .section-header {
        font-size: 45px;
    }



    .lessons-box {
        width: 70%;
        font-size: 115%;
        margin-left: 15%;

    }

    .signup-form {
        width: 100%;
        margin-top: 10%;
    }


}

@media only screen and (min-width: 1201px) {


    #logo {
        font-size: 70px;
    }

    .hero-text {
        margin-top: 10%;
        padding-left: 5px;
    }

    .section-header {
        font-size: 45px;
    }



    .lessons-box {
        width: 50%;
        font-size: 120%;
        margin-left: 25%;

    }

    .signup-form {
        width: 100%;
        margin-top: 10%;
    }


}